
.jenkins__widget {
  padding: 0.5em;
  font-size: 1.6em;
}

.jenkins__job--name {
  font-size: 1.5em !important;
}

.jenkins__job--build-number {
  font-size: 0.8em !important;
}

.jenkins__job--time-elapsed {
  font-size: 0.7em !important;
}

.jenkins__job-progress--container {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.jenkins__job--status--success {
  background-color: #4ec2b4;
  height: 100%;
}

.jenkins__job--status--unknown {
  background-color: #495b71;
  height: 100%;
}

.jenkins__job--status--failure {
  background-color: #de5029;
  height: 100%;
}

.jenkins__job--status--unstable {
  background-color: #d1be65;
  height: 100%;
}

.jenkins__job--status-container {
  height: 70%;
  padding: 0.5em;
}

.jenkins__job--status-progress--background {
  background-color: rgba(255,255,255,0.5);
}

.jenkins__job--status-progress {
  height: 30%;
  padding-left: 10px;
  padding-right: 10px;
}

.jenkins__job--status-image {
  width: 30%;
  height: 100%;
  display: block;
  float: left;
}

.jenkins__job--status-current {
  width: 70%;
  height: 100%;
  display: block;
  float: left;
  font-size: 1.8em; 
}